openapi: 3.1.0
info:
  title: Models.dev API
  description: |
    API for retrieving AI model pricing and capabilities from models.dev.
    Provides detailed cost and limit information for various AI providers.
  version: 1.0.0
  contact:
    name: Models.dev
    url: https://models.dev
servers:
  - url: https://models.dev
    description: Production server

paths:
  /api.json:
    get:
      operationId: getModels
      summary: Get all models and providers
      description: Returns comprehensive list of AI models with pricing and capabilities
      tags:
        - Models
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
              example:
                anthropic:
                  id: anthropic
                  env:
                    - ANTHROPIC_API_KEY
                  npm: "@anthropic-ai/sdk"
                  api: "https://api.anthropic.com/v1"
                  name: Anthropic
                  doc: "https://docs.anthropic.com/en/docs/about-claude"
                  models:
                    claude-sonnet-4-20250514:
                      id: claude-sonnet-4-20250514
                      name: Claude Sonnet 4 (May 14, 2025)
                      family: claude-sonnet-4
                      attachment: true
                      reasoning: true
                      tool_call: true
                      temperature: true
                      knowledge: "2025-05"
                      release_date: "2025-05-14"
                      last_updated: "2025-05-14"
                      modalities:
                        input:
                          - text
                          - image
                        output:
                          - text
                          - image
                      open_weights: false
                      cost:
                        input: 3.0
                        output: 15.0
                        cache_read: 0.3
                        cache_write: 3.0
                      limit:
                        context: 200000
                        output: 8192

components:
  schemas:
    ProvidersResponse:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/Provider'
      description: Map of provider IDs to provider objects

    Provider:
      type: object
      required:
        - id
        - env
        - api
        - name
        - models
      properties:
        id:
          type: string
          description: Unique provider identifier
          example: "anthropic"
        env:
          type: array
          items:
            type: string
          description: Environment variable names required for API key
          example: ["ANTHROPIC_API_KEY"]
        npm:
          type: string
          nullable: true
          description: NPM package name for the SDK
          example: "@anthropic-ai/sdk"
        api:
          type: string
          description: Base URL for the provider's API
          example: "https://api.anthropic.com/v1"
        name:
          type: string
          description: Human-readable provider name
          example: "Anthropic"
        doc:
          type: string
          nullable: true
          description: URL to provider documentation
        models:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Model'
          description: Map of model IDs to model objects

    Model:
      type: object
      required:
        - id
        - name
        - attachment
        - reasoning
        - tool_call
        - temperature
        - modalities
        - open_weights
        - cost
        - limit
      properties:
        id:
          type: string
          description: Unique model identifier
          example: "claude-sonnet-4-20250514"
        name:
          type: string
          description: Human-readable model name
          example: "Claude Sonnet 4 (May 14, 2025)"
        family:
          type: string
          nullable: true
          description: Model family name
          example: "claude-sonnet-4"
        attachment:
          type: boolean
          description: Whether model supports file attachments
        reasoning:
          type: boolean
          description: Whether model supports reasoning/thinking
        tool_call:
          type: boolean
          description: Whether model supports tool calling
        temperature:
          type: boolean
          description: Whether model supports temperature parameter
        knowledge:
          type: string
          nullable: true
          description: Knowledge cutoff date
          example: "2025-05"
        release_date:
          type: string
          nullable: true
          description: Model release date
          example: "2025-05-14"
        last_updated:
          type: string
          nullable: true
          description: Last update date
          example: "2025-05-14"
        modalities:
          $ref: '#/components/schemas/Modalities'
        open_weights:
          type: boolean
          description: Whether model has open weights available
        cost:
          $ref: '#/components/schemas/ModelCost'
        limit:
          $ref: '#/components/schemas/ModelLimit'

    Modalities:
      type: object
      required:
        - input
        - output
      properties:
        input:
          type: array
          items:
            type: string
          description: Supported input modalities
          example: ["text", "image"]
        output:
          type: array
          items:
            type: string
          description: Supported output modalities
          example: ["text", "image"]

    ModelCost:
      type: object
      required:
        - input
        - output
      properties:
        input:
          type: number
          description: Price per 1M input tokens (USD)
          example: 3.0
        output:
          type: number
          description: Price per 1M output tokens (USD)
          example: 15.0
        cache_read:
          type: number
          description: Price per 1M cache read tokens (USD)
          example: 0.3
        cache_write:
          type: number
          description: Price per 1M cache write tokens (USD)
          example: 3.0

    ModelLimit:
      type: object
      required:
        - context
        - output
      properties:
        context:
          type: integer
          description: Maximum context length in tokens
          example: 200000
        output:
          type: integer
          description: Maximum output tokens
          example: 8192